.dashboard-container {
    display: flex;
    background-color: #000319;
    width: 100%;
    margin-top: 40px;
    column-gap: 10px;
    margin-bottom: 50px;
  }
  
  .charts-container {
    width: 70%;
  }
  
  .charts-row {
    display: flex;
    width: 100%;
    column-gap: 10px;

  }
  .chart-item {
    width: 100%;
}
  
  
  
  .bar-chart-container {
    width: 100%;
    margin-top: 20px;
  }
  .barWrapper{
    height: 270px;
  }
  
  .form-container {
 
    width: 30%;
  }
  @media (max-width: 768px) {

    .chart-item {
        width: 100%;
    
    }
  
    .bar-chart-container {
      width: 100%; /* Ensure bar chart takes full width */
      margin-top: 10px; /* Add some space between charts */
      align-items: center;
      justify-content: center;
    
    }
  }


  .barChartContainer {
    background-color: #12193B;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #7b8bf4;
    position: relative; 
}


.legend {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    text-align: center;
}


.legendItem {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    align-items: center;
}

.legendColor {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: #fff;
}

.tooltipText {
    color: #ffffff; /* White text in tooltip */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .bar-chart-container{
        display: flex;
        align-items: center;
        justify-content: center; 
       
    }
    
  .barChartContainer {
    align-items: center;
     padding: 0;
      height: 100%; 
      width: 100%;
    }
  
}


.pieChartContainer {
    background-color: #12193B;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #7b8bf4;
    position: relative;
    height: 100%;

}

.pieChartLegend {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: white;
}

.legendPieItem {
    display: flex;
    align-items: center;
    font-size: 10px;
    
}

.legendPieColor {
    width: 20px;

  
}

.pieChart {
    
    height: 170px;
    width: 95%;
    
}

.pieChartLabel {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 768px) {

    .legendPieItem {
        font-size: 12px; 
    }
}

@media (max-width: 480px) {


    .legendPieItem {
        font-size: 10px; /* Adjust legend font size for smaller screens */
    }
    .chart-pie-item{
      
    width: 100%;   
    }
}
.chart-pie-item{
      
    width: 100%;   
    }

    @media (max-width: 480px) {
        .dashboard-container {
            display: flex;
            background-color: #000319;
            width: 90%;
            margin-top: 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 19px;
          }
          
    
        .chart-item {
            width: 100%;
            margin-bottom: 10px;
        }
        .charts-row{
            display: flex;
            flex-direction: column;
        }
      
        .bar-chart-container {
          width: 100%; /* Ensure bar chart takes full width */
          margin-top: 10px; /* Add some space between charts */
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
        
        }
        .form-container{
            width: 100%;
        }
        .chartWrapper{
            width: 100px;
        }
    
        .charts-container{
            width: 100%;
        }
        .pieChart{
            margin-bottom: 15px;
        }
        .pieChartLabel {
            position: absolute;
            top: 54%;
            left: 48%;
            bottom: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            font-weight: bold;
        }
      }
.lineChartContainer {
    background-color: #12193B;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #7b8bf4;
    height: 100%; 
    margin: 0;


}
.chartWrapper {
    margin: 0 ;
    padding: 0; 
    height: 200px; 
    width: 93%;
    display: flex;

}

.lineChartLegend {
    position: absolute;
    top: 20px;
    left: 60px;
    display: flex;
    gap: 10px;
}

.legendLineColor {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.lineChartLabel {
    color: white;
    
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .chart-item{
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    .lineChartContainer {
        height: auto; 
        width: 100%;
    }

    .lineChartLegend {
        top: 10px; /* Adjust the legend position */
        left: 40px;
        gap: 5px; /* Reduce gap between legend items */
    }
}


.formPage{
    color: white;
    background-color: #12193B;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #7b8bf4;
    
    
}

.form-header {
    display: flex;
    border-bottom: 0.5px solid #f5f5f5;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
}

.view-all-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    background-color: black;
}

.form-subheader {
    display: flex;
  
    margin-top: 10px;
    font-size: 12px;
    justify-content: space-between;
}

.customer-row {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0px 5px;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.customer-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.customer-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 11px;
}

.customer-email {
    font-size: 10px;
}


