/* Data.css */
.objFourContain {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000319;
    color: white;
    
   
 
   
}
.homefour{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000319;
    color: white;
    flex-direction: column;
     margin-top: 90px;
}


.objFourSection1 {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px; /* Optional: to limit the width for a centered look */
    width: 100%;
    font-size: 12px;
    margin: 10px 10px  60px 10px ;
    align-items: flex-end;

}
.objFourSection2 {
 
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px; /* Optional: to limit the width for a centered look */
    width: 100%;
    font-size: 12px;
    margin: 10px 10px  60px 10px ;
    align-items: flex-start;

}
.part1{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 50%;
    padding: 20px;
    background-color: #040828;
    border-radius: 10px;
    box-shadow: #040828;
    justify-content: center;
}
.notes{
    font-size: 14px;
    margin-top: 6px;

}
@media (max-width: 1024px) {
    .objFourContain {
        flex-direction: column;
    }

    .objFourSection1, .objFourSection2 {
        align-items: center; /* Center content on small screens */
        width: 100%; /* Make full-width for stacking */
        margin-bottom: 10px;
    }
    .objFourSection2{
        margin: 0;
    }

    .part1 {
        width: 80%; /* Adjust width for smaller screens */
    }
}


.infoSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    background-color: #000319;
    color: white;
  }
  .line-left {
    width: 100px; /* Adjust the width as needed */
    height: 1px; /* Adjust the thickness of the line */
    background: linear-gradient(to right, #112E7E00, #C7D3F6); /* Transparent to black */
    margin: 0 10px; /* Spacing between the line and the text */
}

.line-right {
    width: 100px; 
    height: 1px; 
    background: linear-gradient(to left, #112E7E00, #C7D3F6); 
    margin: 0 10px; 
}


  


  
  /* Responsive Stacking for Smaller Screens */
  @media (max-width: px) {
    .infoSection {
      flex-direction: column;
      align-items: center;
    }
  
    .infoText, .dataComponent {
      width: 100%;
      text-align: center;
    }
    .textSection{
        width: 50%;
    }
  }
  