.layout{
    display: flex;
    justify-content: center;
    background-color: #000319;
    align-items: center;
    flex-direction: column;
}
.home{

}
@media screen and (max-width: 990px) {
    .layout{

    }
    .home{
    width: 100%;
    }
  }